.visible {
    background-color: #ff00ff;
    width: 200px;
    height: 30px;
    overflow: visible;
    padding: 20px;
    margin-bottom: 100px;
}
.hidden {
    background: blueviolet;
    width: 200px;
    height: 30px;
    overflow: hidden;
    padding: 10px;
    margin-bottom : 50px;
}
.scroll {
    background: chartreuse;
    width: 200px;
    height: 30px;
    overflow: scroll;
    padding: 10px;
    margin-bottom: 50px;
}
.auto {
    background: chocolate;
    width: 200px;
    height: 30px;
    overflow: auto;
    padding: 10px;
}
.overflow-y-x {
    background: coral;
    width: 100px;
    height: 65px;
    border: 1px solid black;
    overflow-y: scroll;
    overflow-x: scroll;
}